@page "/"

<PageTitle>Главная страница</PageTitle>

<nav class="navbar greenColor">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="/Logo.png" width="80" height="80">
        </a>
        <form class="d-flex w-50" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        </form>
    </div>
</nav>

<div class="container-fluid d-flex flex-column">
    <div class="col m-3">
        <p class="main-title">
            Сотрудники
        </p>
        <div class="col d-flex justify-content-start">
            <WorkersList></WorkersList>
        </div>
    </div>
    <div class="col d-xxl-flex">
        <div class="col-xxl-3 col-sm">
            <div class="col m-3">
                <p class="main-title">
                    Календарь событий
                </p>
                <div class="col d-flex justify-content-center">
                    <Calendar></Calendar>
                </div>
            </div>
            <div class="col m-3">
                <p class="main-title">
                    События
                </p>
                <div class="col d-flex justify-content-center">
                    <EventList Height="450"></EventList>
                </div>
            </div>
        </div>
        <div class="col-xxl-9 col-sm">
            <div class="col m-3">
                <p class="main-title">
                    Новости
                </p>
                <div class="col d-flex justify-content-center">
                    <NewsList Height="800"></NewsList>
                </div>
            </div>
        </div>
    </div>
</div>